body {
	background-color: #161b22;
	font-family: sans-serif;
	color: #fff;
}

h1 {
	color: #7935df;
	font-size: 3em;
	font-weight: lighter;
	text-shadow: 0 0 30px #7935df, 0 0 40px #7935df;
}

#main {
	text-align: center;
	margin: 0 10%;
}

#main p {
	text-align: justify;
	background-color: #1f242b;
	padding: 20px;
	border-radius: 15px;
}
