body {
	background-color: #161b22;
	font-family: sans-serif;
	color: #fff;
}

h1 {
	color: #1f91ee;
	font-size: 3em;
}

#main {
	text-align: center;
	margin: 0 10%;
}

#main p {
	text-align: justify;
	background-color: #1f242b;
	padding: 20px;
	border-radius: 15px;
}
