@use "values"
@use "mixin"

*
    font-size: 15px
    font-family: sans-serif
    color: values.$color-text

button
    cursor: pointer

::placeholder, ::-webkit-input-placeholder
    color: values.$color-text-1
    opacity: 1

.icon, .icon > span
    display: flex
    align-items: center
    justify-content: center

.backdrop
    position: fixed
    top: 0
    bottom: 0
    right: 0
    left: 0
    background: rgba(0, 0, 0, 0.6)
