@use "values"
@use "mixin"

talon-sidebar
    // CSS Reset
    &, *:not(path)
        all: unset

        margin: 0
        padding: 0
        box-sizing: border-box
        display: block

        font-size: 15px
        font-family: sans-serif

        color: values.$color-text

    a, span, em, i, b, code
        display: inline

    a
        color: values.$color-primary-light
        cursor: pointer

    a:hover
        text-decoration: underline

    p
        margin: 0.8em 0

    h1
        font-size: 2.6em
        margin-bottom: 0.2em

    h2
        font-size: 2em

    h3
        font-size: 1.4em

    code
        font-family: monospace
        background-color: values.$color-base-1
        border-radius: 0.3em
        padding: 0.1em 0.3em

    button
        cursor: pointer

    input
        cursor: text

    hr
        width: 100%
        height: 1px
        margin: 1.6em 0
        background-image: linear-gradient(to right, values.$color-base-1, values.$color-base-2, values.$color-base-1)
