@use "values"
@use "mixin"

.talon-sidebar-container
    // CSS Reset
    &, *
        margin: 0
        padding: 0
        box-sizing: border-box
        display: block
        position: unset

        font-size: 15px
        font-family: sans-serif
        font-weight: normal
        text-decoration: none

        color: values.$color-text

    a, span, em, i, b, code
        display: inline

    a
        color: values.$color-primary-light

    a:hover
        text-decoration: underline

    p
        margin: 0.8em 0

    h1
        font-size: 2.6em
        margin-bottom: 0.2em

    h2
        font-size: 2em

    h3
        font-size: 1.4em

    code
        font-family: monospace
        background-color: values.$color-base-1
        border-radius: 0.3em
        padding: 0 0.3em

    // Sidebar wrapper
    .wrapper
        position: fixed
        top: 0
        right: 0
        height: 100%

        padding: 1em 0.4em

        display: flex
        flex-direction: column
        justify-content: space-between
        overflow: hidden

        .nav-inner
            overflow-x: hidden
            overflow-y: auto

            +mixin.hideScrollbar

        .item
            display: flex
            flex-direction: row

            text-align: right
            margin-bottom: 0.2em

            border-radius: 20px

            cursor: pointer
            pointer-events: none

            .text
                display: flex

                align-items: center

                font-size: 1.1em
                font-weight: bold
                opacity: 0

                margin-left: auto
                padding: 0 0.6em

            .icon
                border-radius: 50%
                pointer-events: auto

            input
                pointer-events: auto
                opacity: 0

                background: none
                border: none
                outline: none
                text-align: right
                width: 10em

                &:focus
                    opacity: 1
                    border-bottom: solid #fff 2px

            .subitem
                display: none
                padding: 0.6em

                ul
                    list-style: none
                    li
                        margin: 0.4em 0

            &:hover, &.active
                pointer-events: auto
                background-color: values.$color-primary
                text-decoration: none

                .text, input
                    opacity: 1

                .subitem
                    display: flex

        &.left
            right: unset
            left: 0

            .item
                flex-direction: row-reverse
                text-align: left

                .text
                    margin-left: unset
                    margin-right: auto

                .icon
                    margin: 0 1em 0 0

        &.hide
            display: none

    .icon
        display: flex
        align-items: center
        justify-content: center

    // Floating button
    .fab
        position: fixed
        bottom: 25px
        right: 25px

        height: 56px
        width: 56px

        display: flex
        align-items: center
        justify-content: center

        cursor: pointer
        border-radius: 50%

        background: values.$color-primary
        opacity: 1

        transition: bottom 0.5s, opacity 0.5s

        &.hide
            bottom: -56px
            opacity: 0
